html {
    font-size: 14px;
}

#navbar {
    background-color: #b34848;
}


h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
.blog-post-title > a {
    color: #b34848;
}

.blog-post-title:hover {
    text-decoration: underline;
}

.validation {
    color: red;
    font-size: 16;
    padding-top: 10px;
}

.single-comment {
    list-style-type: none;
}